.mainImg img
{
    height: 390px;
    width: 100%;
}
.company-Details{
    display: flex;
    justify-content: space-between;
    padding: 20px 0 20px 0;
    border-bottom: 1px solid black;
    /* border: 1px solid black; */

}
.company-Details-LS{
    display: flex;
}
.companyLogo{
    display: flex;
    align-items: center;
    justify-content: center;
}
.companyLogo img {
    height: 50px;
    
}
.companyAdress{
    text-align: left;
}
.Social_media{
    display: flex;
    margin-top: 10px;
}
.Social_media img{
    cursor: pointer;
    margin-right: 10px;
    
}
.company-Details-RS
{
    padding-right: 20px;
}