/* *,*::after,*::before{
    box-sizing: border-box;
    text-transform: capitalize;
  }
  
  
  * {box-sizing: border-box} */

/* .loginContainers{
    display: flex;
    align-items: center;
    justify-content: center;
    height:100vh ;
    
  } */




/* Full-width input fields */
/* .login 
    input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    border-radius: 10px;
  }

  .login 
  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  .login hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  } */



/* Set a style for all buttons */


/* .login button:hover {
    opacity:1;
  } */

/* Extra styles for the cancel button */
/* .login .cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
  } */

/* Float cancel and signup buttons and add an equal width */
/* .login .cancelbtn, .signupbtn {
    float: left;
    width: 50%;
  }
   */
/* Add padding to container elements */


/* Clear floats */
/* .login .clearfix::after {
    content: "";
    clear: both;
    display: table;
  } */

/* Change styles for cancel button and signup button on extra small screens */
/* @media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
      width: 100%;
    }
  }

  .password-container{
    display: flex;
    align-items: center;
    
  }
  .password-container img {
    width: 18px;
    height: 18px;
    position: fixed;
    right: 90px;
    margin-bottom: 15px;
  }
  .donthaveaccount{
    margin: 30px;
  } */




.login {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  /* height: 100vh; */
  /* font-size: 25px; */


}

.login .main {
  /* border: 2px solid black; */
  /* box-shadow: 5px 5px   lightblue; */
  padding: 50px;
  text-align: left;
  width: 40%;
  background-color: white;
  margin: 40px;
  border-radius: 8px;

}

.login .mainheading p {
  font-size: 30px;
  font-weight: bold;
}

.login .border {
  border-bottom: 2px solid black;
  margin: 20px 0 20px 0 ;
}

.login input[type=text],
.login  input[type=password] {
  width: 100%;
  padding: 10px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  /* background: #f1f1f1; */
  border-radius: 10px;
  border: 1px solid black;
  /* font-size: 25px; */
}


.login input[type=text]:focus,
input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

.login a{
  text-decoration: none;
}

.login .signupbutton h5{
  font-weight: bold;
}
