*,*::after,*::before{
  box-sizing: border-box;
  text-transform: capitalize;
}
* {box-sizing: border-box}


.signupContainers{
    display: flex;
    align-items: center;
    justify-content: center;
    /* height:100vh ; */
    /* margin-top: 130px; */
    /* padding-top: 50px; */
    padding: 50px;
  
}
.signupContainers .signUp{
  width: 40%;
  padding: 5px;
  background-color: white;
  border-radius: 8px;
  text-align: left;

}

/* ----------------type of Candidate section----------------*/
/* .TypeOflogin{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
} */
/* .buttonContainer {
    display: flex;
    gap: 20px; 
     Optional: Set the gap between buttons 
  } */

/* .buttonContainer button {
    padding: 10px 20px 10px 20px;
 */
 .signUp label b{
  text-align: left !important;
 }




/* Full-width input fields */
 .signUp input[type=text], 
 .signUp input[type=password], 
 .signUp input[type=email],
 .signUp input[type=number] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: 1px solid black;
  border-radius: 8px;

}

.signUp input[type=text]:focus, 
.signUp input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}


.signUp hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for all buttons */
.signUp button {
  background-color:rgb(19, 98, 201);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.signUp button:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
.signUp .cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.signUp .cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.signUp .container {
  padding: 16px;
}

/* Clear floats */
.signUp .clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
    width: 100%;
  }
}


.mandatory-indicator{
  color: red;
  font-size: 20px;
}