.landingNav{
    display: flex;
    justify-content: space-between;
    background-color: rgb(211, 211, 223);
    align-items: center;
    padding: 10px;
    /* font-size: 18px; */
}
.landingLogo{
    display: flex;
    align-items: center;
}

.landingLogo img {
    width: 95px;
    border-radius: 50%;
}
.company_name{
    font-weight: 700;
}
.landingLogin{
    margin-right: 15px;
    /* padding: 10px; */

}
