

.navbar .company_name{
    margin-left: 20px;
    padding-right: 10px;
}
.btn-group-alert .dropdown-menu{
    left: -590px !important;
    min-width: 720px;
    top: 60px !important;


}
.user-dropdown .user-dropdownmenu[data-bs-popper] {
    /* top: 100%; */
    left: -120px !important;
    /* margin-top: var(--bs-dropdown-spacer); */
    top: 60px !important;

}
.navbar .dropdown-menu {
    padding: 25px;
}

.user-dropdown {
    margin-right: 20px;
}