
.mainNav {
    display: flex;
    justify-content: space-between;
    background-color: blue;
    padding: 10px;
    align-items: center;
    height: 50px;
}

.links {
    display: flex;
}

.menuIcon {
    cursor: pointer;
    display: none; /* Hide menuIcon by default */
}

/* Media query to show/hide menuIcon based on screen size */
@media screen and (max-width: 990px) {
    .links {
        display: none; /* Hide links on smaller screens */
    }

    .menuIcon {
        display: flex; /* Show menuIcon when the screen size is less than 990px */
    }
}

.Navmodal {
    text-align: left;
    border: 2px solid black;
    width: 25%;
    margin: 20px;

}

.Navmodal .modalContent
{
    text-align: center;
    margin: 5px;
}

.modalContent .modaldata
{
    margin: 5px;
}

.userdetails img{
    padding-right: 10px;
}
.company_name{
padding-right: 10px;
}


.user-dropdown .dropdown-menu[data-bs-popper] {
    /* top: 100%; */
    left: -120px !important;
    /* margin-top: var(--bs-dropdown-spacer); */
}

.navbar .user-dropdown .dropdown-menu {
    padding: 15px;

}