.App {
  text-align: center;
}


/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */
 .App{
  font-family:Arial, Helvetica, sans-serif
 }




.button_01{
  min-width: 100px;
  border-radius: 8px;
  background-color: rgb(25, 141, 83);
  color: white;
  padding: 8px 8px;
  margin: 8px 0;
  cursor: pointer;
  border: none;
  opacity: 0.9;
  /* font-size: 18px; */
}
.button_01:hover{
  background-color: rgb(6, 114, 47);
}

.button_02 {
  min-width: 100px;
  border-radius: 8px;
  background-color: rgb(19, 98, 201);
  color: white;
  padding: 8px 8px;
  margin: 8px 0;
  cursor: pointer;
  border: none;
  opacity: 0.9;

}
.button_02:hover{
  background-color: rgb(7, 35, 156);
}

.button_03{
  min-width: 100px;
  border-radius: 8px;
  background-color: rgb(216, 84, 84);
  color: white;
  padding: 10px 10px;
  /* margin: 4px 0; */
  cursor: pointer;
  border: none;
  opacity: 0.9;

}
.button_03:hover{
  background-color: rgb(187, 59, 37);
}
