.App {
  text-align: center;
}


/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */
 .App{
  font-family:Arial, Helvetica, sans-serif
 }




.button_01{
  min-width: 150px;
  border-radius: 8px;
  background-color: rgb(25, 141, 83);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  cursor: pointer;
  border: none;
  opacity: 0.9;
  font-size: 23px;
}

.button_02 {
  min-width: 150px;
  border-radius: 8px;
  background-color: rgb(206, 21, 21);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  cursor: pointer;
  border: none;
  opacity: 0.9;
  font-size: 23px;

}

.button_03{
  min-width: 150px;
  border-radius: 8px;
  background-color: rgb(29, 95, 236);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  cursor: pointer;
  border: none;
  opacity: 0.9;
  font-size: 23px;

}