.job{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}
.job .job-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 10px 10px 5px rgb(62, 87, 95);
    transition: transform 0.3s ease;
    width: 70%;
    
}

.job .job-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 9px 12px rgba(12, 2, 41, 0.1);
}



.job .title {
    display: grid;
    grid-template-columns: 1.5fr 1.5fr 1fr 0.5fr ;
    gap: 20px;
    background-color: #cfccd6; 
    align-items:center; 
    justify-items:flex-start; 
}



.job button{
    border-radius: 5px;
    min-width: 90px;
    
}

.job .Location {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 20px; 
    align-items: center; 
    justify-items: center; 
  }
  

.job p {
    margin: 5px 0;
    color: #666;
    font-size: 1.1rem;
}

.job strong {
    color: #222;
}


